# Dependencies
node_modules/

# Build outputshttps://github.com/arosyihuddin01/web-builder/pull/4/conflict?name=.gitignore&base_oid=9a40e8e0947fd517f6d353cf48eb3531978178ee&head_oid=c5dbb94ef68ca2d8e417ece88c327691cb90e8c1
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Misc
*.tmp
*.log
