# Dependencies
node_modules/

# Build outputs
.next/
out/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Vercel / Turbo
.vercel
.turbo

# Misc
*.tmp
*.log
